* {
  margin: 0;
  

}

 

html {
  font-size: 62.5%;
  
  
}

body {
  font-size: 1.6rem;
  
 
}

.imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.imagem_logo,
.imagem_logo1 {
  width: 140px;
}
 
li {
  list-style: none;
  margin-top: 22px;
  text-transform: uppercase;
}

p {
  color: rgb(150, 146, 146);
  font-size: 15px;
}

a {
  text-decoration: none;
  color: rgb(204, 204, 204);
  font-size: 10px;
}

.nav {
  width: 180px;
  height: 100vh;
  background-color: rgba(32, 32, 32, 0.973);
  border-right: 1px solid rgb(59, 59, 59);

}

.nav__brand {
  text-transform: uppercase;

}

.nav__menu {
  margin-top: 86px;
}

 
.inovar {
  margin-top: 120px;

}

.nav__toggler {
  display: none;
}

.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

.seg {
  margin-top: 60px;
  background-color: rgba(32, 32, 32, 0.973);
}
 
@media screen and (max-width: 768px) {
   
  body{
    height: 100vh;
  
  }

  .resp {
     
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    justify-items: end;

  }

  .seg {
    display: none;
  }

  .nav {
    height: 15vh;
    width: 100%;
    
    
  
  }


  .nav__toggler {

    display: block;
 
  }

  .nav__menu {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 50vw;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    background-color: black;
    top: 14px;
    
    

  }
}

.nav__active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}